Repository Tomvaz11/iabank: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, eslint-frontend, poetry-lock-guard

ruff:
  name: ruff (python)
  entry: poetry
  args:
  - run
  - ruff
  - check
  - --force-exclude
  - --fix
  language: system
  pass_filenames: true

eslint-frontend:
  name: eslint (frontend)
  entry: pnpm
  args:
  - --filter
  - '@iabank/frontend-foundation'
  - lint
  language: system
  pass_filenames: false

poetry-lock-guard:
  name: poetry.lock header guard (Poetry 2.x bloqueado)
  entry: bash scripts/ci/check-poetry-lock-header.sh
  language: system
  pass_filenames: false

chore(analyze): alinhar canary como modo, exigir integrity e remover fallback .env
  specs/003-seed-data-automation/clarifications-archive.md
  specs/003-seed-data-automation/contracts/seed-profile.schema.json
  specs/003-seed-data-automation/plan.md
  specs/003-seed-data-automation/quickstart.md
  specs/003-seed-data-automation/research.md
  specs/003-seed-data-automation/spec.md
  specs/003-seed-data-automation/tasks.md
Due: none

chore(analyze): Align tasks com cleanup de datasets carga/DR e atualizar resumos de US3
  specs/003-seed-data-automation/tasks.md
Due: none

chore(analyze): Detalhar SeedDataset e BudgetRateLimit no plano
  specs/003-seed-data-automation/plan.md
Due: none

chore(analyze): Alinhar dry-run com PII/contratos/Q11 e unificar FinOps em BRL
  specs/003-seed-data-automation/plan.md
  specs/003-seed-data-automation/quickstart.md
  specs/003-seed-data-automation/tasks.md
Due: none

chore: ajusta tasks do seed-data: ids validos e paralelismo seguro
  specs/003-seed-data-automation/plan.md
  specs/003-seed-data-automation/tasks.md
Due: none

chore(docs): remover arquivo de clarificacoes arquivado
  clarify_arquivo_geral.md
Due: none

docs(tasks): guardar resumo historico para guiar proximas features
  specs/003-seed-data-automation/arquivo_morto_historico/RESUMO_HISTORICO_003_SEED_DATA_AUTOMATION-serve_de_guia-geral_de_uso_P-FEATURES-FUTURAS.md
Due: none

chore(tasks): concluir fase 1 setup com contratos, manifestos e gates
  .github/workflows/ci-contracts.yml
  Makefile
  configs/seed_profiles/dev/tenant-a.yaml
  configs/seed_profiles/homolog/tenant-a.yaml
  configs/seed_profiles/perf/tenant-a-carga.yaml
  configs/seed_profiles/perf/tenant-a.yaml
  configs/seed_profiles/staging/tenant-a-carga.yaml
  contracts/pacts/financial-calculator.json
  contracts/seed-data.openapi.yaml
  contracts/seed-profile.schema.json
  scripts/ci/seed-data-dry-run.sh
  scripts/ci/seed-data-lint.sh
  scripts/ci/seed-manifest-validate.js
  scripts/ci/validate-seed-contracts.sh
  specs/003-seed-data-automation/data-model.md
  specs/003-seed-data-automation/tasks.md
Due: none

chore(tasks): T006–T010 + T015 (apps banking, modelos/migrações seed + RLS, helper determinismo)
  backend/apps/banking/__init__.py
  backend/apps/banking/apps.py
  backend/apps/banking/migrations/0001_initial.py
  backend/apps/banking/migrations/0002_alter_accountcategory_managers_and_more.py
  backend/apps/banking/migrations/__init__.py
  backend/apps/banking/models.py
  backend/apps/banking/tests/test_models.py
  backend/apps/foundation/services/seed_utils.py
  backend/apps/foundation/tests/test_seed_utils.py
  backend/apps/tenancy/managers.py
  backend/apps/tenancy/migrations/0028_seed_models.py
  backend/apps/tenancy/migrations/0029_alter_budgetratelimit_managers_and_more.py
  backend/apps/tenancy/models/__init__.py
  backend/apps/tenancy/models/seed.py
  backend/apps/tenancy/sql/rls_policies.sql
  backend/apps/tenancy/tests/test_managers.py
  backend/apps/tenancy/tests/test_seed_models.py
  backend/config/settings.py
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(tasks): T011–T014 (Celery/Redis, roteamento, teto global/TTL, gate único)
  backend/__init__.py
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/services/__init__.py
  backend/apps/tenancy/services/seed_queue.py
  backend/apps/tenancy/services/seed_runs.py
  backend/apps/tenancy/tasks.py
  backend/apps/tenancy/tests/test_seed_data_command.py
  backend/apps/tenancy/tests/test_seed_global_concurrency.py
  backend/apps/tenancy/tests/test_seed_run_service.py
  backend/apps/tenancy/tests/test_seed_tasks.py
  backend/celery.py
  backend/config/settings.py
  poetry.lock
  pyproject.toml
  specs/003-seed-data-automation/tasks.md
Due: ruff, poetry-lock-guard

chore(tasks): T016–T020 + T079 + T085 + T086 (preflight Vault/WORM/ABAC, SLO/FinOps/cost-model, threat model, GameDay, ROPA)
  .github/workflows/ci-contracts.yml
  Makefile
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/services/seed_preflight.py
  backend/apps/tenancy/tests/test_check_migrations_script.py
  backend/apps/tenancy/tests/test_seed_data_command.py
  backend/apps/tenancy/tests/test_seed_preflight.py
  backend/apps/tenancy/tests/test_seed_run_service.py
  configs/finops/seed-data.cost-model.yaml
  contracts/finops/seed-data.cost-model.schema.json
  docs/compliance/ropa/seed-data.md
  docs/runbooks/gameday/seed-data.md
  docs/runbooks/seed-data.md
  docs/runbooks/seguranca-pii-vault.md
  docs/slo/seed-data.md
  infra/seed-preflight.md
  observabilidade/k6/seed-data-smoke.js
  scripts/ci/check-migrations.sh
  scripts/ci/validate-finops.sh
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(tasks): T083–T084 (Terraform/OPA para Vault/WORM/filas e pipeline Argo CD)
  .github/workflows/ci-argo-seed-data.yml
  .npmignore
  .terraformignore
  docs/pipelines/ci-required-checks.md
  docs/runbooks/seed-data.md
  infra/argocd/seed-data/application.yaml
  infra/argocd/seed-data/kustomization.yaml
  infra/argocd/seed-data/project.yaml
  infra/argocd/seed-data/resources/drift-cronjob.yaml
  infra/argocd/seed-data/resources/kustomization.yaml
  infra/argocd/seed-data/resources/namespace.yaml
  infra/argocd/seed-data/resources/release-policy-configmap.yaml
  infra/argocd/seed-data/resources/serviceaccount.yaml
  infra/opa/seed-data/fixtures/plan.json
  infra/opa/seed-data/policies/seed.rego
  infra/opa/seed-data/tests/policy_test.rego
  infra/terraform/seed-data/.terraform.lock.hcl
  infra/terraform/seed-data/README.md
  infra/terraform/seed-data/main.tf
  infra/terraform/seed-data/variables.tf
  scripts/ci/validate-opa.sh
  specs/003-seed-data-automation/tasks.md
Due: none

chore(tasks): T021–T022 finalizadas
  backend/apps/tenancy/tests/__init__.py
  backend/apps/tenancy/tests/seed_profile_test_utils.py
  backend/apps/tenancy/tests/test_seed_profile_validate_api.py
  backend/apps/tenancy/tests/test_seed_profile_validate_idempotency.py
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(tasks): T023–T026 finalizadas
  backend/apps/tenancy/services/__init__.py
  backend/apps/tenancy/services/seed_idempotency.py
  backend/apps/tenancy/services/seed_manifest_validator.py
  backend/apps/tenancy/tests/seed_profile_test_utils.py
  backend/apps/tenancy/urls.py
  backend/apps/tenancy/views.py
  configs/seed_profiles/dev/tenant-a.yaml
  configs/seed_profiles/dr/tenant-a.yaml
  configs/seed_profiles/homolog/tenant-a.yaml
  configs/seed_profiles/perf/tenant-a-carga.yaml
  configs/seed_profiles/perf/tenant-a.yaml
  configs/seed_profiles/staging/tenant-a-carga.yaml
  configs/seed_profiles/staging/tenant-a.yaml
  contracts/seed-profile.schema.json
  poetry.lock
  pyproject.toml
  specs/003-seed-data-automation/contracts/seed-profile.schema.json
  specs/003-seed-data-automation/tasks.md
Due: ruff, poetry-lock-guard

refactor(tasks): T023–T026 correcao apos falha CI
  backend/apps/tenancy/services/seed_manifest_validator.py
  backend/apps/tenancy/views.py
Due: ruff

chore(tasks): Fase 4 baseline idempotente com locks, drift guard e stubs offline
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/services/seed_runs.py
  backend/apps/tenancy/tests/test_seed_auth.py
  backend/apps/tenancy/tests/test_seed_data_command.py
  backend/apps/tenancy/tests/test_seed_reference_datetime_drift.py
  backend/apps/tenancy/views.py
  contracts/pacts/seed-data-outbound-block.json
  scripts/ci/validate-seed-contracts.sh
  specs/003-seed-data-automation/quickstart.md
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(tasks): reduzir complexidade de seed_data e seed_runs
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/services/seed_runs.py
Due: ruff

chore(tasks): Fase 5 concluir US2 com factories mascaradas e pact financeiro
  backend/apps/banking/serializers.py
  backend/apps/banking/services/__init__.py
  backend/apps/banking/services/financial_calculations.py
  backend/apps/banking/tests/factories.py
  backend/apps/banking/tests/test_factories_contracts.py
  backend/apps/banking/tests/test_factories_extras.py
  backend/apps/banking/tests/test_factories_pii.py
  backend/apps/banking/tests/test_financial_calculations_edge_cases.py
  backend/apps/foundation/tests/test_seed_utils.py
  contracts/pacts/financial-calculator.json
  poetry.lock
  pyproject.toml
  specs/003-seed-data-automation/tasks.md
Due: ruff, poetry-lock-guard

chore(tasks): Fase 6 finalizada
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/serializers/__init__.py
  backend/apps/tenancy/serializers/seed_runs.py
  backend/apps/tenancy/services/seed_idempotency.py
  backend/apps/tenancy/services/seed_queue.py
  backend/apps/tenancy/services/seed_queue_gc.py
  backend/apps/tenancy/services/seed_runs.py
  backend/apps/tenancy/tests/test_seed_idempotency.py
  backend/apps/tenancy/tests/test_seed_runs_api.py
  backend/apps/tenancy/tests/test_seed_runs_auth.py
  backend/apps/tenancy/urls.py
  backend/apps/tenancy/views.py
  observabilidade/k6/seed-data-smoke.js
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(seed-runs): reduzir complexidade radon
  backend/apps/tenancy/views.py
Due: ruff

chore(tasks): T047–T050 finalizadas
  backend/apps/tenancy/services/seed_batches.py
  backend/apps/tenancy/services/seed_observability.py
  backend/apps/tenancy/tests/test_seed_batches.py
  backend/apps/tenancy/tests/test_seed_error_budget_gate.py
  backend/apps/tenancy/tests/test_seed_rpo_rto.py
  observabilidade/k6/seed-data-load.js
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(tasks): T051, T052, T055, T059, T060, T061, T062, T075, T078 Execução e governança operacional
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/services/budget.py
  backend/apps/tenancy/services/seed_batches.py
  backend/apps/tenancy/services/seed_dataset_gc.py
  backend/apps/tenancy/services/seed_observability.py
  backend/apps/tenancy/services/seed_runs.py
  backend/apps/tenancy/tasks.py
  backend/apps/tenancy/tests/seed_profile_test_utils.py
  backend/apps/tenancy/tests/test_seed_batches.py
  backend/apps/tenancy/tests/test_seed_budget.py
  backend/apps/tenancy/tests/test_seed_dataset_gc.py
  backend/apps/tenancy/tests/test_seed_error_budget_gate.py
  backend/apps/tenancy/tests/test_seed_gitops_gate.py
  backend/apps/tenancy/views.py
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(tasks): reduzir complexidade seed_observability
  backend/apps/tenancy/services/seed_observability.py
Due: ruff

chore(tasks): T053, T054, T056, T057, T058, T070, T071, T072, T073, T074, T076, T077 finalizadas.
  .github/workflows/ci-contracts.yml
  Makefile
  backend/apps/tenancy/feature_flags.py
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/services/__init__.py
  backend/apps/tenancy/services/seed_integrations.py
  backend/apps/tenancy/services/seed_worm.py
  backend/apps/tenancy/tests/test_feature_flags.py
  backend/apps/tenancy/tests/test_seed_batches.py
  backend/apps/tenancy/tests/test_seed_budget.py
  backend/apps/tenancy/tests/test_seed_outbound_block.py
  backend/apps/tenancy/tests/test_seed_rpo_rto.py
  backend/apps/tenancy/tests/test_seed_worm.py
  backend/apps/tenancy/views.py
  contracts/pacts/kyc.json
  contracts/pacts/notificacoes.json
  contracts/pacts/pagamentos.json
  docs/runbooks/observabilidade.md
  docs/runbooks/seed-data.md
  docs/runbooks/worm/seed-data.md
  observabilidade/checklists/seed-worm-checklist.json
  renovate.json
  scripts/ci/deps-seed.sh
  scripts/ci/seed-guardrails.sh
  scripts/ci/validate-seed-contracts.sh
  specs/003-seed-data-automation/quickstart.md
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(ci): ajustar radon do WORM e config do renovate
  backend/apps/tenancy/services/seed_worm.py
  renovate.json
Due: ruff

feat: seed-data k6 perf gate
  .github/workflows/ci-seed-data-perf.yml
  contracts/seed-profile.schema.json
  observabilidade/k6/seed-data-load.js
Due: none

ci: seed-data perf tenant setup
  .github/workflows/ci-seed-data-perf.yml
Due: none

ci: seed-data perf rbac e params conservadores
  .github/workflows/ci-seed-data-perf.yml
Due: none

Revert "feat: seed-data k6 perf gate"
  .github/workflows/ci-seed-data-perf.yml
  contracts/seed-profile.schema.json
  observabilidade/k6/seed-data-load.js
Due: none

Revert "ci: seed-data perf rbac e params conservadores"
  .github/workflows/ci-seed-data-perf.yml
Due: none

Revert "ci: seed-data perf tenant setup"
  .github/workflows/ci-seed-data-perf.yml
Due: none

chore: alinhar schema de manifesto e scripts k6 para carga/DR
  contracts/seed-profile.schema.json
  observabilidade/k6/seed-data-load.js
  observabilidade/k6/seed-data-smoke.js
Due: none

chore(tasks): Fase Final: Polish & Cross-Cutting finalizada
  .github/workflows/frontend-foundation.yml
  backend/apps/tenancy/services/seed_runs.py
  backend/apps/tenancy/services/seed_worm.py
  backend/apps/tenancy/tests/test_seed_worm.py
  docs/compliance/ropa/seed-data.md
  docs/pipelines/ci-required-checks.md
  docs/runbooks/gameday/seed-data.md
  docs/runbooks/observabilidade.md
  observabilidade/checklists/seed-worm-checklist.json
  observabilidade/dashboards/seed-data.json
  observabilidade/data/seed-audit.log.jsonl
  observabilidade/data/seed-worm-report.sample.json
  scripts/ci/check-audit-cleanliness.sh
  scripts/ci/seed-data-dry-run.sh
  specs/003-seed-data-automation/plan.md
  specs/003-seed-data-automation/quickstart.md
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(f11): ajustes pós-validação (prompt PLANO_VALIDACAO_E2E_F11, CSP report-to, DAST, perf/OTEL)
  backend/apps/foundation/middleware/security.py
  backend/apps/foundation/tests/test_csp_middleware.py
  backend/config/settings.py
  configs/seed_profiles/perf/tenant-a-dr.yaml
  infra/docker-compose.foundation.yml
  scripts/ci/validate-opa.sh
  scripts/security/run_dast.sh
  specs/003-seed-data-automation/arquivo_morto_historico/PLANO_VALIDACAO_E2E.md
  specs/003-seed-data-automation/arquivo_morto_historico/PLANO_VALIDACAO_E2E_F11.md
  specs/003-seed-data-automation/arquivo_morto_historico/VALIDACAO_F11_E2E_RESULTADOS.md
Due: ruff

feat(seed-data): auditoria 003 alinhando manifesto/off-peak/dry-run ao spec
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/services/seed_manifest_validator.py
  backend/apps/tenancy/services/seed_runs.py
  backend/apps/tenancy/tests/test_seed_auth.py
  backend/apps/tenancy/tests/test_seed_data_command.py
  backend/apps/tenancy/tests/test_seed_runs_api.py
  backend/apps/tenancy/views.py
  docs/pipelines/ci-required-checks.md
  docs/runbooks/seed-data.md
  scripts/ci/seed-data-dry-run.sh
  specs/003-seed-data-automation/quickstart.md
Due: ruff

chore(seed-data): alinhar fail-close e gates de dry-run
  .github/workflows/frontend-foundation.yml
  Makefile
  backend/apps/tenancy/services/seed_runs.py
  contracts/seed-data.openapi.yaml
  docs/runbooks/observabilidade.md
  scripts/git/verify-commit-msg.sh
  specs/003-seed-data-automation/arquivo_morto_historico/PLANO_VALIDACAO_E2E_F11.md
  specs/003-seed-data-automation/contracts/seed-data.openapi.yaml
  specs/003-seed-data-automation/tasks.md
Due: ruff

Endurecer seed_data: manifesto obrigatório, off-peak sem override e dry-run CI fail-close (auditoria 003) (#248)
  .github/workflows/frontend-foundation.yml
  Makefile
  backend/apps/tenancy/management/commands/seed_data.py
  backend/apps/tenancy/services/seed_manifest_validator.py
  backend/apps/tenancy/services/seed_runs.py
  backend/apps/tenancy/tests/test_seed_auth.py
  backend/apps/tenancy/tests/test_seed_data_command.py
  backend/apps/tenancy/tests/test_seed_runs_api.py
  backend/apps/tenancy/views.py
  contracts/seed-data.openapi.yaml
  docs/pipelines/ci-required-checks.md
  docs/runbooks/observabilidade.md
  docs/runbooks/seed-data.md
  scripts/ci/seed-data-dry-run.sh
  scripts/git/verify-commit-msg.sh
  specs/003-seed-data-automation/arquivo_morto_historico/PLANO_VALIDACAO_E2E_F11.md
  specs/003-seed-data-automation/contracts/seed-data.openapi.yaml
  specs/003-seed-data-automation/quickstart.md
  specs/003-seed-data-automation/tasks.md
Due: ruff

chore(ci): remover override de reference_datetime no dry-run
  scripts/ci/seed-data-dry-run.sh
Due: none

chore(ci): remover override de reference_datetime no dry-run (#249)
  scripts/ci/seed-data-dry-run.sh
Due: none

Path conditions:
  ruff: any of: \.py$
  eslint-frontend: any of: ^frontend/
  poetry-lock-guard: any of: ^poetry.lock$
