Repository Tomvaz11/iabank: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, eslint-frontend, poetry-lock-guard

.pre-commit-config.yaml:

repos:
  # Hooks locais para evitar downloads em ambiente sem rede.
  - repo: local
    hooks:
      - id: ruff
        name: ruff (python)
        entry: poetry
        args: ["run", "ruff", "check", "--force-exclude", "--fix"]
        language: system
        types: [python]
        pass_filenames: true

      - id: eslint-frontend
        name: eslint (frontend)
        entry: pnpm
        args: ["--filter", "@iabank/frontend-foundation", "lint"]
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: conventional-commit-msg
        name: conventional commit message
        entry: bash scripts/git/verify-commit-msg.sh
        language: system
        stages: [commit-msg]

      - id: poetry-lock-guard
        name: poetry.lock header guard (Poetry 2.x bloqueado)
        entry: bash scripts/ci/check-poetry-lock-header.sh
        language: system
        pass_filenames: false
        files: ^poetry.lock$

chore: auditoria 001 alinhar erros foundation, WORM 1855d e SLOs ao spec
  backend/apps/foundation/api/views.py
  backend/apps/foundation/tests/test_get_tenant_theme.py
  backend/apps/foundation/tests/test_list_tenant_success_metrics_api.py
  backend/apps/foundation/tests/test_register_feature_scaffold.py
  backend/apps/tenancy/services/seed_preflight.py
  backend/apps/tenancy/services/seed_worm.py
  backend/apps/tenancy/services/worm_retention.py
  backend/apps/tenancy/tests/test_seed_auth.py
  backend/apps/tenancy/tests/test_seed_data_command.py
  backend/apps/tenancy/tests/test_seed_idempotency.py
  backend/apps/tenancy/tests/test_seed_preflight.py
  backend/apps/tenancy/tests/test_seed_reference_datetime_drift.py
  backend/apps/tenancy/tests/test_seed_runs_api.py
  backend/apps/tenancy/tests/test_seed_runs_auth.py
  backend/apps/tenancy/tests/test_seed_worm.py
  docs/compliance/ropa/seed-data.md
  docs/runbooks/seed-data.md
  docs/runbooks/seguranca-pii-vault.md
  docs/runbooks/worm/seed-data.md
  docs/slo/catalogo-slo.md
  infra/docker-compose.foundation.yml
  infra/opa/seed-data/fixtures/plan.json
  infra/opa/seed-data/policies/seed.rego
  infra/seed-preflight.md
  infra/terraform/seed-data/README.md
  infra/terraform/seed-data/main.tf
  infra/terraform/seed-data/variables.tf
  issues/001-alinhamento-erros-worm-slo-spec.md
  issues/002-alinhamento-front-f10-spec.md
  issues/003-alinhamento-seed-spec-failclose.md
  specs/003-seed-data-automation/arquivo_morto_historico/PLANO_VALIDACAO_E2E_F11.md
  specs/003-seed-data-automation/arquivo_morto_historico/VALIDACAO_F11_E2E_RESULTADOS.md
  specs/003-seed-data-automation/data-model.md
  specs/003-seed-data-automation/plan.md
  tests/performance/frontend-smoke.js
Due: ruff

Alinha Problem Details, retenção WORM e SLOs ao spec (#250)
  backend/apps/foundation/api/views.py
  backend/apps/foundation/tests/test_get_tenant_theme.py
  backend/apps/foundation/tests/test_list_tenant_success_metrics_api.py
  backend/apps/foundation/tests/test_register_feature_scaffold.py
  backend/apps/tenancy/services/seed_preflight.py
  backend/apps/tenancy/services/seed_worm.py
  backend/apps/tenancy/services/worm_retention.py
  backend/apps/tenancy/tests/test_seed_auth.py
  backend/apps/tenancy/tests/test_seed_data_command.py
  backend/apps/tenancy/tests/test_seed_idempotency.py
  backend/apps/tenancy/tests/test_seed_preflight.py
  backend/apps/tenancy/tests/test_seed_reference_datetime_drift.py
  backend/apps/tenancy/tests/test_seed_runs_api.py
  backend/apps/tenancy/tests/test_seed_runs_auth.py
  backend/apps/tenancy/tests/test_seed_worm.py
  docs/compliance/ropa/seed-data.md
  docs/runbooks/seed-data.md
  docs/runbooks/seguranca-pii-vault.md
  docs/runbooks/worm/seed-data.md
  docs/slo/catalogo-slo.md
  infra/docker-compose.foundation.yml
  infra/opa/seed-data/fixtures/plan.json
  infra/opa/seed-data/policies/seed.rego
  infra/seed-preflight.md
  infra/terraform/seed-data/README.md
  infra/terraform/seed-data/main.tf
  infra/terraform/seed-data/variables.tf
  issues/001-alinhamento-erros-worm-slo-spec.md
  issues/002-alinhamento-front-f10-spec.md
  issues/003-alinhamento-seed-spec-failclose.md
  specs/003-seed-data-automation/arquivo_morto_historico/PLANO_VALIDACAO_E2E_F11.md
  specs/003-seed-data-automation/arquivo_morto_historico/VALIDACAO_F11_E2E_RESULTADOS.md
  specs/003-seed-data-automation/data-model.md
  specs/003-seed-data-automation/plan.md
  tests/performance/frontend-smoke.js
Due: ruff

fix(theme): fallback seguro de tenant default em node
  frontend/src/shared/config/theme/registry.ts
Due: eslint-frontend

chore: adicionar spec f-01 tenant rbac zero-trust (draft)
  specs/004-f-01-tenant-rbac-zero-trust/checklists/requirements.md
  specs/004-f-01-tenant-rbac-zero-trust/spec.md
Due: none

chore(spec): apenas adicionei o prompt de auditoria para usarmos no f-01
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/prompt_auditoria_spec_f01.md
Due: none

docs: revisar spec F-01, sincronizar checklist e arquivar auditorias
  specs/003-seed-data-automation/arquivo_morto_historico/arquivados_specify/auditoria_spec_f11_codex.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_codex.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_codex_reauditoria.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_profunda.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_profunda_codex_v3.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_profunda_codex_v5.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_profunda_codex_v7.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_profunda_codex_v8.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_segunda_opiniao.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_segunda_opiniao_codex_v2.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_segunda_opiniao_codex_v4.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_segunda_opiniao_codex_v6.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_segunda_opiniao_codex_v7.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_segunda_opiniao_codex_v8.md
  specs/004-f-01-tenant-rbac-zero-trust/checklists/requirements.md
  specs/004-f-01-tenant-rbac-zero-trust/spec.md
Due: none

chore(spec): alinhar spec tenant rbac com clarificações
  docs/lgpd/rls-evidence.md
  docs/runbooks/frontend-foundation.md
  docs/security/threat-models/frontend-foundation/v1.0.md
  issues/001-alinhamento-erros-worm-slo-spec.md
  issues/002-alinhamento-front-f10-spec.md
  issues/003-alinhamento-seed-spec-failclose.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_segunda_opiniao_codex_v10.md
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/arquivados_specify/auditoria_spec_f01_segunda_opiniao_codex_v9.md
  specs/004-f-01-tenant-rbac-zero-trust/spec.md
Due: none

chore(plan): execução #1 do /plan seguida da auditoria #1
  AGENTS.md
  configs/abac/tenant-policy.schema.json
  specs/004-f-01-tenant-rbac-zero-trust/arquivo_morto_historico/prompt_gerador_argumento_plan.md
  specs/004-f-01-tenant-rbac-zero-trust/contracts/tenant-rbac.openapi.yaml
  specs/004-f-01-tenant-rbac-zero-trust/data-model.md
  specs/004-f-01-tenant-rbac-zero-trust/plan.md
  specs/004-f-01-tenant-rbac-zero-trust/quickstart.md
  specs/004-f-01-tenant-rbac-zero-trust/research.md
  specs/004-f-01-tenant-rbac-zero-trust/spec.md
Due: none

chore(plan): Auditoria #2 e #3 do /plan
  specs/004-f-01-tenant-rbac-zero-trust/plan.md
  specs/004-f-01-tenant-rbac-zero-trust/quickstart.md
Due: none

chore(plan): Atualiza contrato do /plan
  specs/004-f-01-tenant-rbac-zero-trust/contracts/tenant-rbac.openapi.yaml
Due: none

chore(plan): Auditoria #3 do /plan
  RELATORIO_LACUNAS.md
  specs/004-f-01-tenant-rbac-zero-trust/data-model.md
  specs/004-f-01-tenant-rbac-zero-trust/plan.md
Due: none
