Repository Tomvaz11/iabank: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, eslint-frontend

.pre-commit-config.yaml:

repos:
  # Hooks locais para evitar downloads em ambiente sem rede.
  - repo: local
    hooks:
      - id: ruff
        name: ruff (python)
        entry: poetry
        args: ["run", "ruff", "check", "--force-exclude", "--fix"]
        language: system
        types: [python]
        pass_filenames: true

      - id: eslint-frontend
        name: eslint (frontend)
        entry: pnpm
        args: ["--filter", "@iabank/frontend-foundation", "lint"]
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: conventional-commit-msg
        name: conventional commit message
        entry: bash scripts/git/verify-commit-msg.sh
        language: system
        stages: [commit-msg]

fix(tokens): fixar raiz do pacote via import.meta.url e proteger limpeza de diretório (#182)
  .github/workflows/frontend-foundation.yml
  docs/ci/perf-budgets.md
  frontend/scripts/tokens/index.ts
Due: eslint-frontend

docs(ci): consolidar nota de Performance Budgets em docs/pipelines/ci-required-checks; remover doc redundante
  docs/ci/perf-budgets.md
  docs/pipelines/ci-required-checks.md
Due: none

docs(ci): consolidar nota de Performance Budgets no guia de required checks (#183)
  docs/ci/perf-budgets.md
  docs/pipelines/ci-required-checks.md
Due: none

docs(agents): adicionar guia mínimo para commits/PRs
  AGENTS.md
Due: none

docs(agents): guia mínimo para commits/PRs (#189)
  AGENTS.md
Due: none

feat(security): ajustes DAST/SCA/Lighthouse e docs; SAST hardening
  .github/workflows/frontend-foundation.yml
  AGENTS.md
  README.md
  backend/apps/foundation/services/flag_gate.py
  docs/pipelines/ci-required-checks.md
  scripts/security/run_dast.sh
  scripts/security/run_python_sca.sh
Due: ruff

fix(tenancy): zerar drift de migrações (Meta/managers)
  backend/apps/tenancy/migrations/0027_alter_tenant_options_alter_tenantthemetoken_managers.py
Due: ruff

ci(security): fix poetry-plugin-export pin for Poetry 1.8.x
  .github/workflows/frontend-foundation.yml
Due: none

feat(security): ajustes DAST/SCA/Lighthouse e docs; SAST hardening (184) (#192)
  .github/workflows/frontend-foundation.yml
  README.md
  backend/apps/foundation/services/flag_gate.py
  backend/apps/tenancy/migrations/0027_alter_tenant_options_alter_tenantthemetoken_managers.py
  docs/pipelines/ci-required-checks.md
  scripts/security/run_dast.sh
  scripts/security/run_python_sca.sh
Due: ruff

docs(readme): nota sobre Poetry export alinhada ao CI
  README.md
Due: none

docs(readme): nota sobre Poetry export alinhada ao CI (#193)
  README.md
Due: none

feat(obs): painel local demo e seed SC-001 para validação local
  .gitignore
  frontend/scripts/tokens/index.ts
  frontend/src/app/providers/telemetry.impl.ts
  infra/grafana/provisioning/dashboards/foundation.local.json
  scripts/observabilidade/seed_sc001.sh
Due: eslint-frontend

chore(sbom): adicionar SBOM do frontend (evidência de PR)
  frontend/src/app/providers/telemetry.impl.ts
  sbom/frontend-foundation.json
Due: eslint-frontend

docs(obs): instruções de demo local (painel + seed SC-001)
  README.md
Due: none

feat(obs): painel demo local + seed SC-001 @SC-001 (#194)
  .gitignore
  README.md
  frontend/scripts/tokens/index.ts
  frontend/src/app/providers/telemetry.impl.ts
  infra/grafana/provisioning/dashboards/foundation.local.json
  sbom/frontend-foundation.json
  scripts/observabilidade/seed_sc001.sh
Due: eslint-frontend

ci(workflow): validar execução do Chromatic (PR gate)
  frontend/.ci-validate-chromatic
Due: eslint-frontend

ci(workflow): acionar Chromatic em PR usando secrets no if
  .github/workflows/frontend-foundation.yml
Due: none

test(storybook): nudge trivial para acionar Chromatic na PR
  frontend/src/shared/ui/button/Button.stories.tsx
Due: eslint-frontend

ci(workflow): executar Chromatic quando frontend OU ui muda (gate mais resiliente)
  .github/workflows/frontend-foundation.yml
Due: none

chore(storybook): comentário nudge para acionar Chromatic na PR
  frontend/.storybook/preview.ts
Due: eslint-frontend

ci(workflow): permitir Chromatic também em workflow_dispatch (além de PR)
  .github/workflows/frontend-foundation.yml
Due: none

ci(workflow): permitir run de Chromatic no workflow_dispatch mesmo sem paths-filter (fallback manual)
  .github/workflows/frontend-foundation.yml
Due: none

docs(ci): documentar gatilho do Chromatic (PR/workflow_dispatch) e remover comentários de nudge
  CONTRIBUTING.md
  README.md
  frontend/.storybook/preview.ts
  frontend/src/shared/ui/button/Button.stories.tsx
Due: eslint-frontend

ci(chromatic): usar chromaui/action@v1 com storybookBuildDir (evitar falha de metadados em PR)
  .github/workflows/frontend-foundation.yml
Due: none

ci(poetry): padroniza Poetry 1.8.3, instala plugin export compatível e adiciona guardrails (pre-commit/CI)
  .github/workflows/frontend-foundation.yml
  .pre-commit-config.yaml
  RELATORIO_DRIFT_POETRY.md
  RELATORIO_ETAPA_1.md
  poetry.lock
  scripts/ci/check-poetry-lock-header.sh
Due: none

docs(contrib): documenta guardrails do Poetry (pre-commit e CI)
  CONTRIBUTING.md
Due: none

ci(poetry): padronizar Poetry 1.8.3 + guardrails (@SC-005) (#198)
  .github/workflows/frontend-foundation.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  RELATORIO_DRIFT_POETRY.md
  RELATORIO_ETAPA_1.md
  poetry.lock
  scripts/ci/check-poetry-lock-header.sh
Due: none

chore(observabilidade): atualiza foundation-costs.json (FinOps)
  observabilidade/data/foundation-costs.json
Due: none

chore(sbom): atualiza SBOM CycloneDX (frontend)
  sbom/frontend-foundation.json
Due: none

docs(relatorios): adiciona/atualiza Etapa 2 e 3; sincroniza PLANO_VALIDACAO_E2E.md
  PLANO_VALIDACAO_E2E.md
  RELATORIO_ETAPA_2.md
  RELATORIO_ETAPA_3.md
Due: none

docs(relatorios): adiciona RELATORIO_PACOTE_FINAL_EVIDENCIAS.md (Pacote Final de Evidências)
  RELATORIO_PACOTE_FINAL_EVIDENCIAS.md
Due: none

docs(e2e): evidências Etapa 2 e 3; SBOM e FinOps atualizados @SC-001 (#199)
  PLANO_VALIDACAO_E2E.md
  RELATORIO_ETAPA_2.md
  RELATORIO_ETAPA_3.md
  RELATORIO_PACOTE_FINAL_EVIDENCIAS.md
  observabilidade/data/foundation-costs.json
  sbom/frontend-foundation.json
Due: none

ci(contracts): trocar OpenAPI diff para Redocly CLI; backend aceita 'redocly-cli'; docs atualizados (Refs #181)
  .github/workflows/ci-contracts.yml
  CONTRIBUTING.md
  backend/apps/contracts/migrations/0002_add_redocly_tool_choice.py
  backend/apps/contracts/models.py
  contracts/scripts/openapi-diff.sh
  docs/adr/011-governanca-de-apis-e-contratos.md
  docs/pipelines/ci-required-checks.md
  docs/runbooks/governanca-api.md
  package.json
  pnpm-lock.yaml
Due: ruff

feat(contracts): migrar OpenAPI para 3.1.0 e substituir nullable por union types (Closes #181)
  contracts/api.yaml
Due: none

docs(contracts): alinhar seed da feature com OpenAPI 3.1.0 e unions (segue PR 2)
  specs/002-f-10-fundacao/contracts/frontend-foundation.yaml
Due: none

chore(ci): atualizar pnpm-lock.yaml após troca para @redocly/cli (Refs #181)
  pnpm-lock.yaml
Due: none
